:root {
    --prim: #275158;

    --form-bg: #ceba92ae;
    --filter-bg: #f1ede8;

    --item-text: #0e0e0e;
    --item-border: rgba(169, 169, 169, 0.5);
    --item-bg: #ffffff;

}

* {
    box-sizing: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--body-bg);
    color: #030303;
    font-size: clamp(12px, 3vw, 24px);
    height: auto;
}

#workspace-display {
    padding: 20px;
  }

.main {
    display: flex;
    align-items: center;
    
    height: 100%;
    padding: 15px;
    overflow: hidden;

}

.main .detailsBox {
    max-width: 500px;
    width: 100vw;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
    margin-left: 100px;
    
}

.main .detailsBox .title {
    height: 120px;
    background:#4f4a41;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .detailsBox form {
    padding: 25px 35px;
    background-color: #6e6658;
}

.main .detailsBox form .row {
    height: 60px;
    margin-top: 15px;
    position: relative;
}






.detailsBox form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 70px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 18px;
    transition: all 0.3s ease;
}
    

form .row input:focus {
    border-color:var(--form-bg);
}

form .row input::placeholder {
    color: #999;
}



.detailsBox form .pass {
    margin-top: 12px;
}

.detailsBox form .pass a {
    color:white;
    font-size: 17px;
    text-decoration: none;
}

.detailsBox form .pass a:hover {
    text-decoration: underline;
}

.detailsBox form .button input {
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background:var(--form-bg);
    border: 1px solid var(--form-bg);
    cursor: pointer;
}


.detailsBox form .signup-link {
    text-align: center;
    margin-top: 45px;
    font-size: 17px;
}

.detailsBox form .signup-link a {
    color:white;
    text-decoration: none;
}

form .signup-link a:hover {
    text-decoration: underline;
}




.section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  h2 {
    margin-top: 0;
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
  }
  
  li:last-child {
    border-bottom: none;
  }