:root {

    --cl-CityName: #0e0e0e;

}

article {
    /* border: 1px solid red; */
}

article.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;

    background: url("../resources/images/pexels-goumbik-317372.jpg") no-repeat center center fixed;
    background-size: cover;

    color: black;
    text-shadow: 2px 2px 4px #275158;
}

form {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input#searchtext {
    width: 50%;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #275158;
    border-radius: 5px;
}

button#searchbtn {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #275158;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




.article-grp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    justify-content: center;

    /* background-color: rgb(39, 81, 88, .05); */
}

.article-grp h3 {
    color: var(--cl-CityName);
    font-size: larger;
}

.items-container {
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 20px;
    width: 100%;
}

.item {
    padding: 16px;

    border: 1px solid #d8d8d8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(39, 81, 88, .25);

    width: 100%;
    text-align: center;

    background-color: #ffffff;
}

.item img {
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 8px;
}

div.item p {
    padding: 1.5em 0 5em;
    font-size: small;
    text-align: left;
}











@media screen and (max-width: 768px) {
    form {
        flex-direction: column;
    }

    input#searchtext {
        width: 80%;
    }

    .items-container {
        flex-direction: column;
    }
}