:root{
    /* --prim: #112d32;
    --prim: #275158;
    --sec: #88bdbc;
    --light: #f6feff;*/


    --prim: #1f7a8a;
    --sec: #88bdbc;
    --light: #f6feff;
    --dark:#07272d;

    --body-bg:#f1ede8;
}


/********GENERAL********/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        font-family: Arial, sans-serif;
        background-color: var(--body-bg);
        color: #030303;
        font-size: clamp(12px, 3vw, 24px);
        height: 100%;
        margin: 0;
        padding: 0;
    }

    li{
        list-style: none;
        min-width: fit-content;
        position:relative;
    }

    a{
        text-decoration: none;
        color: var(--light);
    }


/********HEADER********/
    #logo{
        width: 20vw;
        max-width: 210px;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        max-height: 20vh;
        
        background-color: var(--prim);
        color: var(--light);
    }

    header ul{
        display: flex;
        gap: 3rem;
        text-decoration: underline;
    }


 /********CITIES********/
#navMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--prim);
    padding: .5rem;
    z-index: 1000;
}

#navMenu ul {
    list-style: none;
    display: block;
    font-size: clamp(10px, 16px, 18px);
}

#navMenu li {
    margin: 10px 0;
}

#navMenu a {
    text-decoration: none;
    color: #ffffff;
}

.hidden {
    display: none;
}

 /********FOOTER********/
    footer{
        color: var(--light);
        background-color: var(--dark);
        min-height: 20vh;

        display: flex;
        gap: 10vw;
        flex-direction: row;
        justify-content: baseline;
        bottom: 0;

    }

    footer div{
        padding: 1.5rem .5rem;
        font-size: small;
    }

    footer div ul{
        padding-left: .25rem;
    }


/********NARROW SCREEN********/

@media screen and (max-width: 768px){
    header ul{
        gap: 1rem;
    }
    
}