:root{
    /* --prim: #112d32;
    --prim: #275158;
    --sec: #88bdbc;
    --light: #f6feff;*/


    --prim: #1f7a8a;
    --sec: #88bdbc;
    --light: #f6feff;
    --dark:#07272d; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f6feff;
    color: #030303;
    font-size: clamp(12px, 3vw, 24px);
}

li{
    list-style: none;
    min-width: fit-content;
}

a{
    text-decoration: none;
    color: var(--light);
}

#logo{
    width: 20vw;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
    background-color: var(--prim);
    color: var(--light);
}

header ul{
    display: flex;
    gap: 3rem;
}

footer{
    color: var(--light);
    background-color: var(--dark);
}




@media screen and (max-width: 768px){
    header ul{
        gap: 1rem;
    }
    
}
